*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

button {
  border: none;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}
