<footer class="footer">
  <div class="footer__wrapper">
    <div class="wrapper">
      <a routerLink="/" class="footer__logo">
        <img src="../../../assets/images/logo.svg" alt="Logo">
      </a>
      <ul class="footer__support-list">
        <li>
          <p class="address">8 800 841-95-95</p>
          <p class="text">Служба поддержки</p>
        </li>
        <li>
          <p class="address">support.sport.ru</p>
          <p class="text">Служба поддержки</p>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li>
            <a routerLink="/">Вакансии</a>
          </li>
          <li>
            <a routerLink="/">Блог</a>
          </li>
          <li>
            <a routerLink="/">Акции</a>
          </li>
        </ul>
        <a routerLink="/" class="suggest-idea-link">Предложить  идею</a>
      </nav>
    </div>
  </div>
</footer>
