<nav class="app__navigation">
  <div class="app__navigation--main">
    <ul class="nav-list">
      <li>
        <a routerLink="/" class="nav-link">Мои заказы</a>
      </li>
      <li>
        <a routerLink="/" class="nav-link">Сотрудники</a>
      </li>
      <li>
        <a routerLink="/" class="nav-link">Шаблоны заказов</a>
      </li>
      <li>
        <a routerLink="/" class="nav-link">Обращения</a>
      </li>
    </ul>
  </div>
  <div class="app__navigation--secondary">
    <ul class="nav-list">
      <li>
        <a routerLink="/" class="nav-link manager-link">
          <img class="manager-link__icon" src="../../../assets/images/comment-icon.svg" alt="Comment Icon">
          <span class="manager-link__text">Ваш менеджер</span>
        </a>
      </li>
      <li>
        <a routerLink="/" class="nav-link stock-link">
          <img class="stock-link__icon" src="../../../assets/images/percent-icon.svg" alt="Percent Icon">
          <span class="stock-link__text">Акции</span>
        </a>
      </li>
      <li>
        <a routerLink="/" class="nav-link">Блог</a>
      </li>
    </ul>
  </div>
</nav>
