:host {
  display: inline-block;
}

.profile {
  display: flex;
  align-items: center;
  &__avatar {
    height: 32px;
    width: 32px;
  }
  &__fullname {
    margin-left: 10px;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  &__caret-icon {
    margin-left: 3px;
    height: 24px;
    width: 24px;
  }
}
